<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.hama.mapper.OnSalceTaskMapMapper">

    <resultMap id="onSalceTaskMap" type="cc.mrbird.febs.hama.entity.OnSalceTaskMap">
        <id column="id" jdbcType="bigint" property="id"/>
        <result column="on_sale_task_id" jdbcType="bigint" property="onSaleTaskId"/>
        <result column="spu_id" jdbcType="bigint" property="spuId"/>
        <result column="sku_id" jdbcType="bigint" property="skuId"/>
        <result column="create_time" jdbcType="datetime" property="createTime"/>
        <result column="create_user_id" jdbcType="bigint" property="createUserId"/>
        <result column="update_time" jdbcType="datetime" property="updateTime"/>
        <result column="update_user_id" jdbcType="bigint" property="updateUserId"/>
        <result column="delete_flag" jdbcType="tinyint" property="deleteFlag"/>
    </resultMap>
</mapper>
