<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.hama.mapper.UserInfoMapper">

    <resultMap id="userInfo" type="cc.mrbird.febs.hama.entity.UserInfo">
        <id column="id" jdbcType="bigint" property="id"/>
        <result column="user_name" jdbcType="varchar" property="userName"/>
        <result column="user_card_no" jdbcType="varchar" property="userCardNo"/>
        <result column="account" jdbcType="varchar" property="account"/>
        <result column="iphone" jdbcType="varchar" property="iphone"/>
        <result column="fist_pwd" jdbcType="varchar" property="fistPwd"/>
        <result column="second_pwd" jdbcType="varchar" property="secondPwd"/>
        <result column="from_id" jdbcType="bigint" property="fromId"/>
        <result column="from_iphone" jdbcType="varchar" property="fromIphone"/>
        <result column="area_id" jdbcType="bigint" property="areaId"/>
        <result column="create_time" jdbcType="datetime" property="createTime"/>
        <result column="create_user_id" jdbcType="bigint" property="createUserId"/>
        <result column="update_time" jdbcType="datetime" property="updateTime"/>
        <result column="update_user_id" jdbcType="bigint" property="updateUserId"/>
        <result column="delete_flag" jdbcType="tinyint" property="deleteFlag"/>
    </resultMap>
</mapper>
